---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Portfolio from "../components/Portfolio.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title={"Acerca de mí"}
      description={"Quien es Andres Parra? Es un desarrollador web colombiano."}
    />
  </head>
  <body>
    <Header />

    <main>
      <div class="banner">
        <img
          src="https://avatars.githubusercontent.com/u/120739623?v=4"
          alt="Andres Parra photo profile"
        />
        <div>
          <h1>Hola, soy Andres!</h1>
          <p>👨‍💻 Software Engineer</p>
        </div>
      </div>

      <section class="section">
        <p>
          Soy un desarrollador de software apasionado por la tecnología y el
          desarrollo web. Me gusta siempre estar aprendiendo y compartiendo mis
          conocimientos, por eso existe este blog. Fan del open source y del
          café ☕.
        </p>
      </section>

      <Experience />

      <Education />

      <Portfolio />
    </main>

    <Footer />
    <style>
      .banner {
        gap: 2rem;
        display: flex;
        margin-bottom: 4rem;
      }

      .banner p {
        margin: 0;
        font-size: 1.3rem;
        color: var(--text-alt-color);
      }

      img {
        max-width: 100px;
        object-fit: cover;
      }

      h1 {
        font-size: 2rem;
      }
    </style>
  </body>
</html>
