<section class="section">
  <h2>Educación</h2>

  <ul>
    <li>
      <time>2022 - 2025</time>
      <h3>
        Ingeniero de Sistemas <a href="https://ww2.ufps.edu.co/" target="_blank"
          >@ufps</a
        >
      </h3>
    </li>

    <li>
      <time>2023</time>
      <h3>
        Front End Development Libraries <a
          href="https://www.freecodecamp.org/"
          target="_blank">@freecodecamp</a
        >
      </h3>
    </li>

    <li>
      <time>2019</time>
      <h3>
        Diseño y desarrollo de sitios webs accesibles <a
          href="https://oferta.senasofiaplus.edu.co/sofia-oferta/"
          target="_blank">@sena</a
        >
      </h3>
    </li>

    <style>
      h2 {
        font-size: 1.3rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      time {
        /* font-size: 1.2rem; */
        color: var(--text-alt-color);
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        color: var(--text-alt-color);
      }

      li {
        margin-bottom: 2rem;
      }

      li a {
        color: var(--text-alt-color);
        font-weight: 400;
      }
    </style>
  </ul>
</section>
