<section class="section">
  <h2>Experiencia</h2>

  <ul>
    <li>
      <time>Noviembre 2023 - Enero 2024</time>
      <h3>Desarollador web - REDUCALIA</h3>
      <p>
        Red social de investigación para maestros del departamento Norte de
        Santander en Colombia
      </p>

      <ul>
        <li>Encargado del desarrollo de 3 proyectos webs.</li>
        <li>Diseño y desarrollo del frontend con ReactJS.</li>
        <li>Ademas del desarrollo backend con Nodejs (Express.js).</li>
      </ul>
    </li>

    <style>
      h2 {
        font-size: 1.3rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      time {
        color: var(--text-alt-color);
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        color: var(--text-alt-color);
      }
    </style>
  </ul>
</section>
