---
interface Props {
  tags: string;
}

const { tags } = Astro.props;
---

<ul>
  {
    tags.split(",").map((tag) => {
      return <li>{tag}</li>;
    })
  }
</ul>

<style>
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  ul li {
    color: var(--text-alt-color);
  }
</style>
