<section class="section">
  <h2>Proyectos</h2>

  <ul>
    <li>
      <h3>
        <a href="https://www.rpcide.cloud/" target="_blank">RPCIDE</a>
      </h3>
      <p>
        El RPCIDE es un IDE enfocado en la programaci贸n competitiva. Busca ir
        m谩s all谩 de los IDEs convencionales, ya que est谩 ajustado para
        satisfacer las necesidades 煤nicas de la programaci贸n competitiva.
      </p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/rpcide-app.appspot.com/o/assets%2Fhome.png?alt=media&token=980ffff6-d83c-42e4-bb96-8c954b4198b4"
      />
    </li>

    <li>
      <h3>
        <a href="https://tomatozen.vercel.app/" target="_blank">TomatoZen</a>
      </h3>
      <p>Es una aplicaci贸n pomodoro.</p>
      <img
        src="https://repository-images.githubusercontent.com/651939861/bd6ab7a5-ffb6-4606-85b6-3f67a151f157"
      />
    </li>

    <li>
      <h3>
        <a href="https://automata-simulation.vercel.app/" target="_blank"
          >Automata Simulation</a
        >
      </h3>
      <p>
        Software de c贸digo abierto ofrece a los usuarios la posibilidad de
        crear, modificar y simular aut贸matas.
      </p>
      <video
        src="https://automata-simulation.vercel.app/example-use.mp4"
        autoplay
        loop></video>
    </li>

    <style>
      h2 {
        font-size: 1.3rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      time {
        color: var(--text-alt-color);
      }

      h3 {
        font-size: 1.5rem;
      }

      h3 a {
        color: var(--text-color);
        text-decoration: none;
      }

      h3 a::after {
        content: "";
        font-size: 1.2rem;
        display: inline-block;
        margin-left: 0.5rem;
      }

      p {
        color: var(--text-alt-color);
      }

      li {
        margin-bottom: 2rem;
      }
    </style>
  </ul>
</section>
